name: Security Audit

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  security-audit:
    name: NPM Security Audit
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run security audit
        run: npm audit --audit-level=low
