name: Test and Lint

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  test-lint:
    name: Test and Lint (Node ${{ matrix.node-version }} on ${{ matrix.os }})
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22]
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install && npm audit --audit-level=low

      - name: Install Playwright browsers
        run: npm run test:browser:install

      - name: Run unit tests
        run: npm run test:all:coverage

      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: test-artifacts-${{ matrix.node-version }}-${{ matrix.os }}
          path: ./test/.artifacts/
          include-hidden-files: true # needed because the path has a directory starting with a '.'
          retention-days: 4
          if-no-files-found: ignore

      - name: Run linting
        run: npm run lint

      - name: Check code formatting
        run: npm run format:check

      - name: Run type checking
        run: npm run type-check

      - name: Build package
        run: npm run build

      - name: Test packaging
        run: npm run test:package